body {
    background-color: #444444;
    font-family: 'Saira', sans-serif;
}

h1 {
    color: #ff7100;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

#game {
    border: 2px solid #ff7100;
    color: white;
    background-color: #222222;
}

#ship-img {
    max-width: 200px;
    max-height: 200px;
}

#word {
    letter-spacing: 5px;
}