body {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #444444;
    font-family: 'Saira', sans-serif;
}

h1 {
    color: #ff7100;
}

.logo {
    max-width: 200px;
    max-height: 200px;
}

#game {
    border: 2px solid #ff7100;
    color: white;
    background-color: #22222288;
}